/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/public/208viewer
/public/images
/public/fim
/public/cc
/public/samOld
/public/viewer208
/public/wq
/public/sam
/public/backup
/www/bootstrap/autoload.php
/public/.DS_Store
/database/queries
npm-debug.log