.wrapper 
{
	@include outer-container;
	
	.primary
	{	
		@include span-columns(8);
	}
	
	.secondary
	{
		@include span-columns(4);
	}
}

ul {
	&.wizard-bullets {
		list-style-type: square;
		margin: 10px 0 1em 2em;
		padding: 10px 0 0 30px;

		li {
			margin-left: 1em;

		}
	}

	li {
		font-size: 0.90em;
	}

}

p {
	span {
		&.wizard-span {
			font-weight: bold;
			margin-left: 20px;
		}
	}
}

.right {
	float: right;
	
}
// h1, h2, h3 { color: $restoration-green; }
.content.full-width {
	h1 { font-size: 2em; }
h2 { font-size: 1.8em;}
h3 { font-size: 1.5em; }
}
