.wrapper 
{
	@include outer-container;
	
	.primary
	{	
		@include span-columns(8);
	}
	
	.secondary
	{
		@include span-columns(4);
	}
}

ul {

	&.wizard-bullets {
		list-style-type: square;
		margin: 10px 0 1em 2em;
		padding: 10px 0 0 30px;

		li {
			margin-left: 1em;

		}

	}

}

p {
	span {
		&.wizard-span {
			font-weight: bold;
			margin-left: 20px;
		}
	}
}

.right {
	float: right;
	
}