#map {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
		// z-index: -10;
}

.secondary.start
{
	width: 25%;
	float: left;
	background: #efefef;
	border-radius: 25px;
	padding: 1.5em;
	border: 2px solid #2caae4;
}
