	.results_download thead tr th { font-weight: bold; color: #000066; }
	.results_download tr.summary { font-weight: bold; border: 1px solid #ff0000; }
	.results_download tr.summary .avg_cost_per_kg { background-color: #ffff00; }
