#progress
{
	width: 250px;
	position: absolute;
	left: 20px;
	top: 5em;
	background: black;
	border-radius: 0.5em;

	h2 {
		color: $white;
		text-transform: uppercase;
		margin: .9em .5em 1.9em .5em;
	}

	.subembayment
	{
		background: black;
		width: 94%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 10px;
		background: black;
		cursor: pointer;

		&:last-child {
			margin-bottom: 15px;
		}

		.sub-progress-container		
		{	
			position: relative; 
			width: 100%;
			height: 2em; 
			margin: 0; 
			overflow: hidden;
			border-radius: .3em;

			div	
			{	
				position: absolute; 
				width: 8em; 
				display: inline-block; 
				bottom: 0; 
				margin: 0;
			}
			
			h3 	
			{	
				height: 100%;
				display: flex;
				align-items: center;
				margin-left: 8px;
				color: $white;
				z-index: 20; 
				position: relative; 

				span 
				{ 
					display: inline; 
					height: 2em;
					padding-left: .5em;
					color: $white;	
					font-size: 0.90em;
				}
			}


			div.sub-target 	
			{	
				background-color: #0A2833;
				height: 2em; 
				width: 100%;
				transition: background .3s ease;

				&:hover {
					background-color: #0b1116;
				}
			}
			
			div.sub-progress 	
			{ 
				background-color: $blue;
				height: 2em;
			}


		}


		.stats
		{
			display:none;
			background-color: #0b1116;
			color: $white;
			margin-bottom: 0;
			padding-top: 8px;
			padding-left: 8px;
			padding-right: 8px;
			font-size: 0.90em;

		}

		&:hover
		{
			.stats
			{
				display: block;

				.stat-group	
				{
					width: 100%;
					display: block;
					padding: 5px 0;

					.stat-label 
					{
						display: table-cell;
						width: 180px;	
					}

					.stat-data 
					{
						text-align: right;
						width: 50px;
						display: table-cell;	
						font-weight: bold;
					}
				}
			}
		}
	}
}


#overall_progress
{
	width: 250px; 
	height: 220px; 
	position: absolute; 
	bottom: 0;
	// overflow-y: hidden; 



	.progress-container		
	{	
		position: relative; 
		// font-family: TrendSansOne, Futura, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
		height: 180px; 
		margin: 0;

		div	
		{	
			position: absolute; 
			width: 8em; 
			display: inline-block; 
			bottom: 0; 
			margin: 0;
		}

		div.target 	
		{	
			// background-color: #f9ae1b; 
			background-color: $murky-green;
			height: 100%;
		}
		
		div.progress 	
		{
			background-color: $reduction-blue; 

			h3
			{
				vertical-align: middle; 
				text-align: center; 
				color: $white;
			}
			h4 
			{
				color: #fff;
				text-align: center;
			}
		}

	}
}

