#progress
{
	width: 250px;
	position: absolute;
	left: 0;
	top: 8em;
	background: #fff;

	.subembayment
	{
		width: 100%;
		background: #efefef;
		border-bottom: 1px solid #efefef;


		span 
		{
			display: block;
			height: 2em;
			padding-left: .5em;
			color: $white;	
			font-size: 0.90em;
		}

		.stats
		{
			display:none;
			background-color: $light-gray;
			margin-bottom: 0;
			padding-left: 0.25em;
			font-size: 0.90em;

		}

		&:hover
		{
			.stats
			{
				display: block;

				.stat-group	{
					width: 100%;
					display: block;
					padding: 5px 0;
					border-bottom: 1px solid $dark-gray;

					.stat-label {
						display: table-cell;
						width: 180px;
						
					}

					.stat-data {
						text-align: right;
						width: 50px;
						display: table-cell;	
						font-weight: bold;
						
					}

				}

			}
		}
	}
}

#embayment_progress
{
	width: 250px;
	height: 200px;
	position: absolute;
	bottom: 0;
	background: #2caae4;
	color: #fff;
}